<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100%">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em" fxFlex="100">
        <div class="primary-bg pad-sm" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="0px">
            <h2 class="remove-margin"><b class="white-color">Edit Order #{{orderDetails?.orderNumber}}</b></h2>
            <mat-icon class="white-color pointer" mat-dialog-close>close</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px" fxFlex="100%">
            <div class="full-height" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px"
                fxFlex="100">
                <mat-card class="full-height">
                    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="0px" fxFlex="100">
                        <div class="block-width" fxLayout="column" fxLayoutAlign="stretch stretch" fxLayoutGap="0px" fxFlex="95">
                            <form fxLayout="column" class="pad-sm" [formGroup]="orderForm">
                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px" fxFlex="100">
                                    <h2 class="remove-margin"><b>Package</b></h2>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="0px">
                                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100">
                                        <mat-form-field [appearance]="'fill'">
                                            <mat-select required formControlName="package" matInput placeholder="Select Package">
                                              <mat-option *ngFor="let package of packages" [value]="package">{{ package }}</mat-option>
                                            </mat-select> 
                                            <mat-error>Package is required</mat-error>
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px" fxFlex="100">
                                    <h2 class="remove-margin"><b>Status</b></h2>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="0px">
                                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100">
                                        <mat-form-field [appearance]="'fill'">
                                            <mat-select required formControlName="status" matInput placeholder="Select Status">
                                              <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
                                            </mat-select> 
                                            <mat-error>Status is required</mat-error>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="0px">
                                    <button (click)="updateForm(orderForm)" mat-raised-button class="primary-bg white-color block-width"><mat-icon>edit</mat-icon> Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>