<div class="pointer" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
        <mat-card class="block-width pad-sm border-rad-sm mini-card">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1.2em" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px">
                    <h4 class="primary-color unset-margin bold">{{ cardData.label }}</h4>
                    <mat-icon class="material-icons-outlined">{{ cardData.icon }}</mat-icon>
                </div>
                <h2 class="unset-margin">{{ cardData.count }}</h2>
            </div>
        </mat-card>
    </div>
</div>