<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px">
            <h1><b>Orders</b></h1>
            <mat-form-field [appearance]="'fill'">
                <input matInput placeholder="Filter Orders" #input (keyup)="applyFilter($event)">
            </mat-form-field>
        </div>
        <div class="table-container" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
            <table mat-table [dataSource]="dataSource" matSort class="full-width table">
                <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                    <th class="headerCells black-color font-14" mat-header-cell *matHeaderCellDef mat-sort-header> {{headerCells[i]}} </th>
    
                    <td mat-cell *matCellDef="let element; let INDEX = index;">
                        <span *ngIf="['dateDelivered', 'dateOrdered'].includes(column)">
                            {{ element[column] | date: 'mediumDate' || '-'}}
                        </span>
                        <span *ngIf="column == 'action'">
                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                                <mat-icon (click)="actionHandler('view', element)" class="material-icons-outlined blue-color pointer">visibility</mat-icon>
                                <mat-icon (click)="actionHandler('edit', element)" class="material-icons-outlined secondary-color pointer">edit</mat-icon>
                                <mat-icon (click)="actionHandler('delete', element)" class="material-icons-outlined primary-color pointer">delete</mat-icon>
                            </div>
                        </span>
                        <span *ngIf="column == 'package'">
                            {{ element[column]['name'] }}
                        </span>
                        <span *ngIf="column == 'amount'">
                            R{{ element.package[column] }}
                        </span>
                        <div fxLayout="row" *ngIf="column == 'status'">
                            <span [class]="setChipBackground(element[column])">{{ element[column] }}</span>
                        </div>
                        <span *ngIf="!['action', 'status', 'amount', 'package'].includes(column) && !['dateDelivered', 'dateOrdered'].includes(column)">
                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="2px">
                                {{ element[column] }}
                            </div>
                        </span>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 100]" [length]="orders.length" aria-label="Select page of users"></mat-paginator>
    </div>
</div>