<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1.5em" fxFlex="100">
        <h1><b>Order #123</b></h1>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px"
                fxFlex="100">
                <mat-card class="pad-sm">
                </mat-card>
            </div>
        </div>
    </div>
</div>