<div class="pad-sm" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100%">
    <div class="full-height" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
            <h1 class="remove-margin">Order Summary</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px" fxFlex="100">
                <h2 class="remove-margin"><b>Customer Details</b></h2>
                <span>{{ orderSummary?.name }}</span>
                <span>{{ orderSummary?.contactDetails?.email }}</span>
                <span>{{ orderSummary?.contactDetails?.phone }}</span>
                <span>{{ orderSummary?.contactDetails?.altPhone }}</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="16px">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px" fxFlex="45">
                <h2 class="remove-margin"><b>Shipping Information</b></h2>
                <span *ngFor="let text of objectValues(orderSummary?.address?.shipping)">{{text}}</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px" fxFlex="45">
                <h2 class="remove-margin"><b>Billing Information</b></h2>
                <span *ngFor="let text of objectValues(orderSummary?.address?.billing)">{{text}}</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px" fxFlex="100">
                <h2 class="remove-margin"><b>Customer Requests</b></h2>
                <span>Needs to Port Number? <b>{{ orderSummary?.portDetails?.requiresPort ? 'Yes' : 'No' }}</b> </span>
                <span>Number to Port? <b>{{ orderSummary?.portDetails?.portNumber ? orderSummary?.portDetails?.portNumber : 'Not Applicable' }}</b> </span>
                <span>Old Network Provider? <b>{{ orderSummary?.portDetails?.networkProvider ? orderSummary?.portDetails?.networkProvider : 'Not Applicable' }}</b> </span>
            </div>
        </div>
    </div>

</div>