<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100">
    <div class="white-bg pad-sm border-rad-sm" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px" fxFlex="70px">
        <div fxLayout="column" fxLayoutAlign="stretch start" fxLayoutGap="0px" fxFlex>
            <span>Hi <b class="primary-color">Aneesa</b> </span>
            <small>It's great to see you again.</small>
        </div>
        <div class="full-height" fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="0px" fxFlex>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <mat-icon matBadge="99+" class="material-icons-outlined pointer">notifications</mat-icon>
                <img class="round avatar pointer" width="30px" height="30px" src="../../../../assets/img/avatar.jpeg" alt="">
            </div>
        </div>
    </div>
</div>