/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

// Theme Color
$primary: #ff6437;
$secondary: #4e37b2;
$tertiary: #ebeaf6;
$black: #000;
$white: #fff;
$lightBlue: #248eb1;
$navy: #212158;
$yellow: #ffa500;
$red: #c20000;
$green: #149a00;
$gray: #f0f0f0;
$yellow: #ffcb05;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.remove-margin {
  margin: 0 !important;
}

// Colours
.primary-color {
  color: $primary
}

.secondary-color {
  color: $secondary
}

.tertiary-color {
  color: $tertiary
}

.black-color {
  color: $black
}

.white-color,
.mini-card:hover,
.mini-card:hover h4 {
  color: $white !important
}

.yellow-color {
  color: $yellow;
}
// Backgrounds
.primary-bg {
  background-color: $primary !important;
}

.secondary-bg {
  background-color: $secondary !important;
}

.tertiary-bg {
  background-color: $tertiary;
}

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: $white;
}

.green-bg {
  background-color: $green;
}

.navy-bg {
  background-color: $navy;
}

.red-bg {
  background-color: $red;
}

.light-blue-bg {
  background-color: $lightBlue;
}

.gray-bg {
  background-color: $gray !important;
}

// Sizing 
.full-vh,
.page-wrapper {
  height: 100vh;
}

.full-height,
app-sidenav, app-order, app-ordered-item, app-order-summary, app-edit-order {
  height: 100%;
}

.content-height {
  height: calc(100vh - 70px - 2em);
}

.block-width,
app-sidenav,
app-admin-container,
app-toolbar,
app-dashboard-card {
  width: 100%;
}

// Padding
.pad-xs {
  padding: .5em;
}

.pad-sm {
  padding: 1em;
}

.pad-md-x {
  padding: 1em 2em;
}


//Margin
.margin-top-sm {
  margin-top: 1em;
}
// Border Radii
.border-rad-xs {
  border-radius: 0.5em;

}

.border-rad-sm {
  border-radius: 1em !important;
}

.pointer {
  cursor: pointer;
}

.round {
  border-radius: 50%;
}

.avatar {
  border: 2px solid $primary !important;
}

.mini-card {
  box-shadow: 0px 1px 4px 1px #ffb39d;
}

.mini-card:hover {
  box-shadow: 0px 1px 4px 1px $black;
  background-color: $primary;
  transition: ease-in-out;
}

.bold {
  font-weight: bold !important;
}

.font-weight-500, app-ordered-item h4 {
  font-weight: 500 !important;
}

.mat-mdc-form-field-infix {
  min-height: 40px !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

::-webkit-scrollbar {
  background-color: lighten($color: $primary, $amount: 35);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar,
.chip {
  border-radius: 2em;
}

::-webkit-scrollbar-thumb,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  background-color: $primary !important;
}

.text-center {
  text-align: center;
}