/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

// Theme Color
$primary: #ff6437;
$secondary: #4e37b2;
$tertiary: #ebeaf6;
$black: #000;
$white: #fff;


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.unset-margin,
.mat-typography h1 {
  margin-bottom: .5em !important;
}

// Colours
.primary-color {
  color: $primary
}

.secondary-color {
  color: $secondary
}

.tertiary-color {
  color: $tertiary
}

.black-color {
  color: $black
}

.white-color,
.mini-card:hover,
.mini-card:hover h4 {
  color: $white !important
}

// Backgrounds
.primary-bg {
  background-color: $primary
}

.secondary-bg {
  background-color: $secondary
}

.tertiary-bg {
  background-color: $tertiary
}

.black-bg {
  background-color: $black
}

.white-bg {
  background-color: $white
}

// Sizing 
.full-vh,
.page-wrapper {
  height: 100vh;
}

.full-height,
app-sidenav {
  height: 100%;
}

.block-width,
app-sidenav,
app-admin-container,
app-toolbar,
app-dashboard-card {
  width: 100%;
}

// Padding
.pad-xs {
  padding: .5em;
}

.pad-sm {
  padding: 1em;
}

.pad-md-x {
  padding: 1em 2em;
}

// Border Radii
.border-rad-xs {
  border-radius: 0.5em;

}

.border-rad-sm {
  border-radius: 1em !important;
}

.pointer {
  cursor: pointer;
}

.round {
  border-radius: 50%;
}

.avatar {
  border: 2px solid $primary !important;
}

.mini-card {
  box-shadow: 0px 1px 4px 1px #ffb39d;
}

.mini-card:hover {
  box-shadow: 0px 1px 4px 1px $black;
  background-color: $primary;
  transition: ease-in-out;
}

.bold {
  font-weight: bold !important;
}